.ban {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3vw;
    margin-top: 10vh;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 0.9rem;
    font-size: 1.2rem; /* Default font size for larger screens */
}

#ser {
    margin-left: 4vw;
    aspect-ratio: 2/3;
    min-height: 40vh;
    transform: scaleX(-1);
    min-width: 40vw;
}

/* Media Queries for Responsiveness */

/* Tablets and smaller screens */
@media (max-width: 835px) {
    .ban {
        width: 100%;
    }

    #ser {
        min-height: 30vh;
        margin-left: 0vw;
        width: 100%;
    }

    .info {
        text-align: center;
        font-size: 1.1rem; /* Adjust font size for smaller screens */
    }

    .ban {
        flex-direction: column;
    }
}

/* Mobile screens */
@media (max-width: 480px) {
    .info {
        font-size: 1rem; /* Further reduce font size for small screens */
    }

    h3 {
        font-size: 1.1rem; /* Reduce font size for h3 on mobile */
    }

    p {
        font-size: 0.9rem; /* Smaller font for paragraph on mobile */
    }

    #ser {
        min-height: 25vh;
        width: 90%; /* Image takes up most of the screen on mobile */
        margin: 0 auto; /* Center the image */
    }
}
